<nav class="nav"s>
  <div class="company_logo">
    <div class="logo_img">
      <img src="images/logo.png" alt="logo" class="logo">
    </div>
    <div class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div> 
  </div>

  <div class="pages">
    <a  href="/visitor">
      <img src="images/dashboard.svg" alt="grid"> Dashboard
    </a>
    <a  href="/guestAps">
      <img src="images/clock.svg" alt="grid"> Appointments
    </a>
    <a  href="/guestEvents">
      <img src="images/event.svg" alt="grid"> Events
    </a>
    <a href="/logoutGuest" class="logout">   
      <img src="images/logout.svg" alt="logout"> Logout
    </a>
  </div>
</nav>